<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/ticketGenerated.css">
  <title>ticket generated</title>
</head>
<body>
  <h1>ticket successfully generated</h1>
  <div class="container">
    <p>scan this QR code to view your ticket details:</p>
    <img src="<%= qrCodeDataURL %>" alt="QR Code">
  <div>
</body>
</html>